<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myclassschedule">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyClassSchedule">
        <activity
            android:name=".recuperarpass"
            android:exported="false" />
        <activity
            android:name=".eliminarActividad"
            android:exported="false" />
        <activity
            android:name=".listActividad"
            android:exported="false" />
        <activity
            android:name=".actualizarActividad"
            android:exported="false" />
        <activity
            android:name=".registro"
            android:exported="false" />
        <activity
            android:name=".listagregarActividad"
            android:exported="false" />
        <activity
            android:name=".listcursosactualizar"
            android:exported="false" />
        <activity
            android:name=".cursosEliminar"
            android:exported="false" />
        <activity
            android:name=".Actualizar"
            android:exported="false" />
        <activity
            android:name=".agregarActividad"
            android:exported="false" />
        <activity
            android:name=".agregarCurso"
            android:exported="false" />
        <activity
            android:name=".opciones"
            android:exported="false" />
        <activity
            android:name=".inicio"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver android:name=".AlarmBroadcastReceiver" >
        </receiver>

    </application>

</manifest>